body {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  max-width: 768px;

  & > main {
    display: flex;
    flex-direction: column;
    margin: 60px auto auto;

    & > #passwd, #salt {
      margin: 16px auto 16px;
      padding: 6px 12px;
      border-style: inset;
      font-size: 1.5em;
      color: #333333;

      &::placeholder {
        color: #DDDDDD;
      }
    }

    & > #result {
      margin: 16px auto 16px;
      font-size: 1.5em;
      color: #333333;
    }

    & > #copy-button {
      padding: 16px auto 16px;
      font-size: 1.5em;
      color: #333333;
      background-color: white;
      border: solid 2px #EEEEEE;
    }
  }
}
